@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@layer utilities {
  /* Custom fonts */
  .manrope-font {
    font-family: "Manrope", sans-serif;
  }
  .poppins-font {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  .hidden-1 {
    display: none;
  }

  /* custom color */
  :root {
    /* text color  */

    --Disabled-text: #a7a7ac;
    --Alternate-text: #ffffff;
    --Primary-text: #282828;
    --Secondary-text: #747474;
    --Primary: #ffffff;
    --Disabled: #a7a7ac;

    /* icon color */

    --Primary-icon: #282828;
    --Primary-icon: #f2f2f2;
  }
}
